<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>CANumber</th>
              <th>uniqueId</th>
              <th>TimeStamp</th>
              <th>TimeSpent</th>
              <th>KWH</th>
              <th>kWHtype</th>
              <th>kwh_simage</th>
              <th>kwh_limage</th>
              <th>KW</th>
              <th>kWtype</th>
              <th>kw_simage</th>
              <th>kw_limage</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < rows.length; i++) { %>
            <tr>
              <td><%= rows[i].CANumber %></td>
              <td><%= rows[i].uniqueId %></td>
              <td><%= rows[i].TimeStamp %></td>
              <td><%= rows[i].TimeSpent %></td>
              <td><%= rows[i].kwh %></td>
              <td><%= rows[i].kWHtype %></td>
              <td><img src="<%= rows[i].kwh_simage %>" height="200" width="200"/></td>
              <td><img src="<%= rows[i].kwh_limage %>" height="200" width="200"/></td>
              <td><%= rows[i].kw %></td>
              <td><%= rows[i].kWtype %></td>
              <td><img src="<%= rows[i].kw_simage %>" height="200" width="200"/></td>
              <td><img src="<%= rows[i].kw_limage %>" height="200" width="200"/></td>
            </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <th>CANumber</th>
              <th>uniqueId</th>
              <th>TimeStamp</th>
              <th>TimeSpent</th>
              <th>KWH</th>
              <th>kWHtype</th>
              <th>kwh_simage</th>
              <th>kwh_limage</th>
              <th>KW</th>
              <th>kWtype</th>
              <th>kw_simage</th>
              <th>kw_limage</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/js/dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>
